<% include header %>
		
<div class="container">
	<div class="row">
		<div class="col-lg-9">
            
<h2 id = "int"> INTRODUCTION:</h2>
<article>
	<p id="past-section">I completed my under graduation in India at VRSEC in the department of Computer Science and Engineering. My project in undergraduate is Tree Crown Delineation using cartosat images which was a national project funded by Indian space research organization.Also, I had my internship on Core Networking in a nation-wide telecommunication department in India.</p>

	<p id="future-section">I am here to explore and improve my knowledge in core Java, Web Applications and Data Analytics, so that I can extend my project and work with ISRO which is my dream.</p>

	<section><p>Here is my linkedIn profile <a href="https://www.linkedin.com/in/mouni-krishna-atluri-b8a836106/">LinkedIn</a></p></section>
</article>

<h2 id="sche" >SCHEDULE:</h2>
<ol>
<li>Java</li><br>
<li>Webapps</li><br>
<li>Advanced Database</li><br>
</ol>
<aside>
<h1 class="aside-t">ASIDE</h1>
	<h3>hello Everyone!! welcome to ACS</h3>
</aside>
			</div>
		<div class="col-lg-3">
				<img id="propic" src="IMG_2.JPG" alt="Avatar man">
				<br>
				<br>
				<span>Mouni Krishna Atluri</span>
					</div>
	</div>
		


</div>
    
<%include footer%>
		
    
