<% include header %>
  <header>
    <h1>Tic Tac Toe</h1>
  </header>
  <main>
    <section id="upper-left"> </section>
    <section id="upper-mid"> </section>
    <section id="upper-right"> </section>

    <section id="center-left"> </section>
    <section id="center-mid"> </section>
    <section id="center-right"> </section>

    <section id="lower-left"> </section>
    <section id="lower-mid"> </section>
    <section id="lower-right"> </section>
    <br>
    <br>
    <br>

    <button onclick="reset()">reset/restart</button>
  </main>


  
  <script>
    function reset(){
    location.reload(true);
  }
  </script>
  <script src="./game.js" defer></script>

      
<%include footer%>