<% include header %>
		
<div class="container">
	<div class="row">
		<div class="col-lg-7">
			<h5>Game of Thrones Intro Theme Music</h5>
			
			<iframe width="600" height="360" src="https://www.youtube.com/embed/oEYGTBKEpKg" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>			
			<p id="got">
				
Game of Thrones is an American fantasy drama television series created by David Benioff and D. B. Weiss. It is an adaptation of A Song of Ice and Fire, George R. R. Martin's series of fantasy novels, the first of which is A Game of Thrones. It is filmed in Belfast and elsewhere in Northern Ireland, Canada, Croatia, Iceland, Malta, Morocco, Spain, and the United States. The series premiered on HBO in the United States on April 17, 2011, and its seventh season ended on August 27, 2017. The series will conclude with its eighth season premiering in 2019.
			</p>
			</div>
			<div class="col-lg-2">

			</div>
		<div id="second" class="col-lg-3">
				<img id="propic" src="IMG_2.JPG" alt="Avatar man">
				<br>
				<br>
				<span>Mouni Krishna Atluri</span>
		
			</div>
	</div>
		


</div>
		
    
    
<%include footer%>